<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        input{
            width:100px;
        }
    </style>
</head>
<body>
<form action="/updatedb/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>姓名</td>
            <td>
                <input type="text" name='name' value={{author.name}}>
                <input type="hidden" name='id' value={{author.id}}>
            </td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input type="number" name='age' value={{author.age}}></td>        
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="email" name='email' value={{author.email}}></td>        
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value='确认'></td>
        </tr>

    </table>
</form>
</body>
</html>