<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>通过ｂｏｏｋ查询ｐｕｂｌｉｓｈｅｒ</h2>
    <h3>书名：{{b.title}}</h3>
    <p>出版时间：{{b.publicate_date}}</p>
    <h3>出版社：{{publisher.name}}</h3>
    <p>网址：{{publisher.website}}</p>

    <h2>通过ｐｕｂｌｉｓｈｅｒ查询所有的ｂｏｏｋ</h2>
    <h3>出版社：{{pub.name}}</h3>
    <p>地址：{{pub.address}}</p>
    <p>网址：{{pub.website}}</p>
    {% for i in books %}
    <h3>书名：{{i.title}}</h3>
    <h3>出版时间：{{i.publish_date}}</h3>
    {% endfor %}
</body>
</html>